<div class="container d-flex">
  <div class="row">
    <div class="col-4">
      <img src="https://picsum.photos/300/300/?random" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300/?gravity=east" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300?image=0" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300/?gravity=east" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300/?random" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300/?gravity=east" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300?image=0" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300/?gravity=east" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300/?random" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300?image=0" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300/?gravity=east" class="my-3" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/300/300/?random" class="my-3" alt="Responsive image">
    </div>





  </div>
</div>