<div class="col-12 d-flex align-items-center justify-content-center login">
  <form ngNativeValidate #loginForm="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address: {{ user.email }}</label>
      <input
        [(ngModel)]="user.email"
        type="email"
        class="form-control"
        name="InputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password: {{ user.password }}</label>
      <input
        [(ngModel)]="user.password"
        type="password"
        class="form-control"
        name="InputPassword1"
        placeholder="Password"
        required
      />
    </div>
    <div class="d-flex justify-content-around">
      <button
        (click)="login()"
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginForm.valid"
      >
        Sign in
      </button>
      <button
        routerLink="/registration"
        type="button"
        class="btn btn-outline-primary"
      >
        Sign up
      </button>
    </div>
    <span class="list-group-item list-group-item-danger my-3" *ngIf="error"
      >Invalid login or password</span
    >
    <span
      class="list-group-item list-group-item-warning my-3"
      *ngIf="confirmation"
      >Please, wait when Administrator will approve you!</span
    >
    <span
      class="list-group-item list-group-item-danger my-3"
      *ngIf="denyMessage"
      >Your access is denied by Admin</span
    >
  </form>
</div>
